.header__inner {
    background: #fff;
    height: 10vh;
}

.header-utilities {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw;
}

.header-utilities h1 {
    font-size: 2vw;
    margin: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}

.header-nav__button {
    border: none;
    background: transparent;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
}

.footer__inner {
    height: 5vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__inner small {
    font-size: 1vw;
}
